<div class="tit-i">
  <h2 class="row-title"><%= page.title %></h2>
  <h5 class="row-subtitle"><%- theme.corp.nameEnglish %> <span><%= theme.layout.case.name %></span></h5>
</div>


<%- partial('_partial/min-script') %>