<div class="tit-i">
  <h2 class="row-title"><%= page.title %></h2>
  <h5 class="row-subtitle"><%- theme.corp.nameEnglish %> <span><%= theme.layout.case.name %></span></h5>
</div>

<div class="container" style="margin-bottom: 5rem;">
  <div class="row">

    <div class="col-md-4 col-xl-3">
      <div class="card" style="width: 100%;">
        <img src="/images/banner-01.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card" style="width: 100%;">
        <img src="/images/banner-02.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card" style="width: 100%;">
        <img src="/images/banner-03.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card" style="width: 100%;">
        <img src="/images/banner-04.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<%- partial('_partial/min-script') %>