<div id="bd">
    <div id="ban-in" style="background-image:url(images/14415953225349.jpg)">
        <div class="ban-bg"></div>
    </div>
    <div class="row4 fix">
        <div class="wp">
            <div class="tit-i">
                <h3>联系我们</h3>
                <h5><span>contact</span> webthink</h5>
            </div>
            <div class="contact-l">
                <ul class="ul-contact">
                    <li class="li1">北京市朝阳区建国路88号SOHO现代城6#3208</li>
                    <li class="li2"><a href="tel:010-51265006">010-51265006 (咨询) / <a href="tel:010-52459737">52459737
                                (售后)<br /><a href="tel:400-008-0408">400-008-0408
                                    (咨询)</a><br /><a href="tel:13581789985">13581789985 (咨询)</a></li>
                    <li class="li3"><a href="mailto:sales@webthink.com.cn">sales@webthink.com.cn</a></li>
                </ul>
            </div>
            <div class="contact-r">
                <!--<iframe scrolling="no" frameborder="0" src="guest.php" width="100%" height="235"></iframe>-->
                <form action="" class="contact-form" method="post">
                    <div class="">
                        <input type="text" class="inp l" name="name" id="name" placeholder="您的姓名">
                        <input type="text" class="inp r" name="tel" id="tel" placeholder="您的联系方式">
                    </div>
                    <textarea cols="30" rows="10" name="txt_con" id="txt"></textarea>
                    <input type="submit" value="提交您的需求" class="sub" id="sub">
                </form>
            </div>
        </div>
    </div>
    <div class="map">
        <div class="map-s">
            <a href="javascript:void(0);" class="btn"><em></em>点击展开地图</a>
        </div>
        <div class="map-pop map-pop-big">
            <a href="javascript:void(0);" class="btn-down"></a>
            <div class="map-bg1"></div>
            <div class="map-bg2"></div>
            <div id="map" class="map-c" style="width:100%;height:100%;"></div>
        </div>
    </div>
</div>
<div class="c"></div>

<%- partial('_partial/min-script') %>

<script type="text/javascript">
    $("#sub").click(function (e) {
        var name = $("#name").val();
        var tel = $("#tel").val();
        var txt = $("#txt").val();
        var re = /^[1][3587]\d{9}$/;
        if (name == "") {
            alert("姓名不能为空");
            return false;
        }
        if (!re.test(tel)) {
            alert("请输入正确的联系方式");
            return false;
        }
        if (txt == "") {
            alert("请输入您的需求");
            return false;
        }

        $.ajax({
            url: "ajax_guest.php",
            type: 'GET',
            data: { 'name': name, 'tel': tel, 'txt': txt },
            //dataType:"text",
            async: false,
            error: function () { alert("error"); },
            success: function (data) { alert(data); }
        })
    });
</script>
<script>
    $('.map .btn').click(function () {
        $('.map-pop').show();
        $(this).parents('.map').addClass('map-big');
        var winW = $(window).width();
        var winH = $(window).height();
        if (winW < 768) {
            $('.map-pop').height($(window).height() - 50 - 80);
            $('.map-big').height($(window).height() - 50 - 80);
            $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        } else {

            $('.map-pop').height($(window).height() - 344 - 101);
            $('.map-big').height($(window).height() - 344 - 101);
            $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        }
        initMap();
    })
    $('.map .btn-down').click(function () {
        $('.map-pop').hide();
        $(this).parents('.map').removeClass('map-big');
        $('.map').height('107');
    })
</script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5b31afcdea6af2d7d3677ca5c1a22c46"></script>
<script type="text/javascript" src="js/map.js"></script>