<div class="tit-i">
  <h2 class="row-title"><%= page.title %></h2>
  <h5 class="row-subtitle"><%- theme.corp.nameEnglish %> <span><%= theme.layout.product.name %></span></h5>
</div>

<div class="container-fluid">
  <div class="row">

    <div class="card border-primary mb-5 col-10 offset-1 col-sm-8 offset-sm-1" style="min-width: 70%;padding-left: 0;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/images/HTC vive.png" class="card-img" style="background: #0D1218;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title">VR设备</h2>
            <p class="card-text mt-3">宽恒目前代理 <a href="https://www.vive.com/cn/" target="_blank">HTC</a> / <a
                href="http://www.dpvr.cn/" target="_blank">大鹏</a> 等知名品牌的产品，为你打开虚拟世界的大门。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card border-success mb-5 col-10 offset-1 col-sm-8 offset-sm-3" style="min-width: 70%;padding-right: 0;">
      <div class="row no-gutters">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="col-md-4">
          <img src="/images/HTC vive.png" class="card-img" style="background: #0D1218;">
        </div>
      </div>
    </div>

  </div>
</div>