<div id="bd">
    <div id="ban-in" style="background-image:url(/images/14415956107965.jpg)">
        <div class="ban-bg"></div>
    </div>
    <div class="wp">
        <div class="tit-i">
            <h2 class="row-title"><%= page.title %></h2>
            <h5 class="row-subtitle"><%- theme.corp.nameEnglish %> <span><%= theme.layout.product.name %></span></h5>
        </div>
    </div>
    <div id="hd">
        <div class="wp">
          <div class="logo"><a href="index1"><img src="images/logo.png" alt=""></a></div>
          <div id="nav">
            <ul>
              <li><a href="index.html">首页</a></li>
              <li><a href="about.html">关于宽恒</a></li>
              <li><a href="product.html" style="color:#e4392a; border-bottom:3px solid #e4392a;">产品库</a></li>
              <li><a href="solution.html">解决方案</a></li>
              <li><a href="case.html">成功案例</a></li>
              <li><a href="news.html">企业动态</a></li>
            </ul>
          </div>
          <div class="tel">400-008-0408</div>
        </div>
      </div>
      <div class="c"></div>
      <div id="m-hd">
        <a href="index1" class="m-logo"><img src="images/logo.png" alt=""></a>
        <div class="m-trigger"></div>
        <ul class="m-nav">
          <li><a href="index.html" class="v1">首页 </a></li>
          <li><a href="about.html" class="v1">关于宽恒</a></li>
          <li><a href="product.html" class="v1">产品库</a></li>
          <li><a href="solution.html" class="v1">解决方案</a></li>
          <li><a href="case.html" class="v1">成功案例</a></li>
          <li><a href="news.html" class="v1">企业动态</a></li>
        </ul>
      </div>
      <div class="c"></div>
      <div id="bd">
    
        <div class="row1 fix">
          <div class="wp">
            <div class="tit-i">
              <h3>我们的产品</h3>
              <h5>WEBTHINK <span>SERVICE</span></h5>
            </div>
            <ul class="ul-icon-i">
              <li class="li1">
                <div class="pad">
                  <a href="">
                    <span></span>
                    <h3>高端网站建设</h3>
                    <em></em>
                    <p>根据用户的需求、市场状况、企业情况提供专业化的网站策划、交互设计、技术和营销解决方案。</p>
                    <div class="pic">
                      <img src="images/m1.png" alt="">
                      <img src="images/m2.png" alt="" class="pic-icon">
                    </div>
                  </a>
                </div>
              </li>
              <li class="li2">
                <div class="pad">
                  <a href="">
                    <span></span>
                    <h3>手机网站建设</h3>
                    <em></em>
                    <p>在移动互联时代，我们得出“简单使用，精彩体验”的移动应用开发理念，创造属于无线时代的精彩互联。</p>
                    <div class="pic">
                      <img src="images/m3.png" alt="">
                      <img src="images/m4.png" alt="" class="pic-icon">
                    </div>
                  </a>
                </div>
              </li>
              <li class="li3">
                <div class="pad">
                  <a href="">
                    <span></span>
                    <h3>微信应用开发</h3>
                    <em></em>
                    <p>为客户提供全方位的移动端营销服务，微信公众平台开发，微站设计。</p>
                    <div class="pic">
                      <img src="images/m5.png" alt="">
                      <img src="images/m6.png" alt="" class="pic-icon">
                    </div>
                  </a>
                </div>
              </li>
              <li class="li4">
                <div class="pad">
                  <a href="">
                    <span></span>
                    <h3>手机APP开发</h3>
                    <em></em>
                    <p>按客户意图来定制开发app系统，IOS 安卓任您挑选，持续为企业无线创造新价值。</p>
                    <div class="pic">
                      <img src="images/m7.png" alt="">
                      <img src="images/m8.png" alt="" class="pic-icon">
                    </div>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
    
    
      </div>
      <div class="c"></div>
</div>