<div id="bd">
    <div id="ban-in" style="background-image:url(/images/14415956565984.jpg)">
        <div class="ban-bg"></div>
    </div>
    <div class="wp" id="webbuit">
        <div class="tit-i">
            <h2 class="row-title"><%= page.title %></h2>
            <h5 class="row-subtitle"><%- theme.corp.nameEnglish %> <span><%= theme.layout.solution.name %></span></h5>
        </div>
        <div class="markdown">
            <p>
                我们专注于品质化高端网站构建，<span>企业品牌在网站中的整体树立，网络互动的体验，以及在手机等移动端的优质呈现。</span>
            </p>
            <p>
                <span style="line-height:1.5;">根据客户实际情况1对1的为您提供咨询、研究、分析、策划等服务，从而保障网站建设项目能够顺利达到并超出您预期的商业</span><span
                    style="line-height:1.5;">目标。</span>
            </p>
            <p>
                我们专业提供一站式服务，从网站品牌规划、交互设计、视觉设计、动效创意，到程序开发，运营维护。
            </p>
            <p>
                <br />
            </p>
            <p>
                <br />
            </p>
        </div>
    </div>    
</div>

<%- partial('_partial/script') %>

<script>
    var progressMove = false;

    function checkMhd() {
        isMobile = $('#m-hd').is(':visible');
    }

    $(window).resize(function () {
        var process = $('.process');
        checkMhd();
        if (isMobile) {
            process.removeClass('animate-box');
        } else {
            process.addClass('animate-box');
        }
    }).resize();

    $(window).scroll(function () {
        showWeb();
        showMobilephone();
        showProcess();
        showSolution();
    });

    function showWeb() {
        if (isScrolledIntoView('.ul-web')) {
            $('.ul-web li').each(function (i) {
                $(this).delay(i * 800).fadeIn(50, function () {
                    $(this).find('img').each(function (j) {
                        $(this).delay(j * 200).animate({ opacity: 1 });
                    })
                });
            })
        }
    }

    function showProcess() {
        if (isScrolledIntoView('.process')) {
            $('.process .icon').each(function () {
                $(this).find('em').each(function (i) {
                    $(this).delay(i * 500).animate({ opacity: 1 });
                })
            })
        }
    }

    /*function showProcess(){
     if( isScrolledIntoView('.process') ){
     if(isMobile){return;}
     if(progressMove){return;}
     if( !$('.process').is(':animated') ){
     $('.process').css('width',0).animate({width: '100%'},2000,function(){progressMove = true;});
     }
     }
     }*/

    function showMobilephone() {
        if (isScrolledIntoView('.tab-show')) {
            $('.tab-show .pic').each(function () {
                $(this).addClass($(this).data('animate'));
            })
            $('.tab-show .txt').each(function () {
                $(this).addClass($(this).data('animate'));
            })
        }

    }
    function showSolution() {
        if (isScrolledIntoView('.ul-solution', 300)) {
            $(".ul-solution").each(function () {
                $(".ul-solution li").animate({ left: 0, top: 0, opacity: 1 })
            })
        }
    }


    $('.ul-webset li a.close').click(function () {
        $('.ul-webset li .webset-pop').css({
            opacity: 0,
            left: '-100%',
            zIndex: -1
        });
    })
    $('.webset-pop .li2 a.close').click(function () {
        $('.webset-pop').hide();
    })
    $('.webset-pop .li3 a.close').click(function () {
        $('.webset-pop').hide();
    })


    $('.ul-txt li').click(function () {
        var txt = $(this).find('.txt-1');
        var _this = this;
        if (!txt.is(":visible")) {
            $('.ul-txt li .txt-1').slideUp(500);
            txt.stop(false, true).slideDown(function () {
                $('.ul-txt li').removeClass('ok');
                $(_this).addClass('ok');
            });
        } else {
            var _this = this;
            txt.stop(false, true).slideUp(500, function () {
                $('.ul-txt li').removeClass('ok');
            });
        }
    });

    $('.ul-webset li .btn').click(function () {
        var webset_pop = $(this).parents('li').find('.webset-pop');
        webset_pop.css({ zIndex: 10 }).animate({
            opacity: 1,
            left: 0
        });
    });

    /*$(".ul-solution li").each(function (index, element) {
     if (index % 6 > 1) {
     $(this).css({ left: (index % 6 - 1) * 300 / (1 + Math.floor((index) / 6)) * 0.5,opacity: 0 });
     } else {
     $(this).css({ left: (index % 6 - 2) * 300 / (1 + Math.floor(index / 6)) * 0.5,opacity: 0 });
     }
     });*/

    $(document).ready(function (e) {

        $(".ul-solution li").hover(function () {
            $(this).find("span").animate({ top: 5 }, 300)
        }, function () {
            $(this).find("span").animate({ top: 0 }, 300)

        })
    });


    $('.web-con .flexslider').flexslider({
        animation: "slide",
        animationLoop: true,
        slideshow: false,
        prevText: "",
        nextText: "",
        controlNav: true,
        directionNav: true
    });
    $(".TAB_CLICK_SLIDE li").click(function () {
        var tab = $(this).parent(".TAB_CLICK_SLIDE");
        var con = tab.attr("id");
        var idx = tab.find("li").index(this);
        $(this).addClass('hover').siblings(tab.find("li")).removeClass('hover');
        $(con).eq(idx).show().siblings(con).hide();
        $('.web-con .flexslider').flexslider(idx);
    });


</script>