<div class="tit-i">
  <h2 class="row-title"><%= page.title %></h2>
  <h5 class="row-subtitle"><%- theme.corp.nameEnglish %> <span><%= theme.layout.solution.name %></span></h5>
</div>

<div class="container" style="margin-bottom: 5rem;">
  <div class="row">

    <div class="card bg-dark text-white col solution">
      <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
      </div>
    </div>

  </div>
</div>

<%- partial('_partial/min-script') %>