<!-- 更新动态页 -->
<div id="bd">
    <div id="ban-in" style="background-image:url(/images/14415956107965.jpg)">
        <div class="ban-bg"></div>
    </div>
    <div class="wp">
        <div class="tit-i">
            <h2 class="row-title"><%= page.title %></h2>
            <h5 class="row-subtitle"><%- theme.corp.nameEnglish %> <span><%= theme.layout.update.name %></span></h5>
        </div>
    </div>
</div>

<%- partial('_partial/min-script') %>