<div id="hd">
    <div class="wp">
        <div class="logo"><a href="/"><img src="/images/logo.png" alt=""></a></div>
        <div id="nav">
            <ul>
                <% for(let i in theme.menu) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
<div class="c"></div>
<div id="m-hd">
    <a href="/" class="m-logo"><img src="/images/logo.png" alt=""></a>
    <div class="m-trigger"></div>
    <ul class="m-nav">
        <% for(let i in theme.menu) { %>
            <li class="nav-item">
                <a class="nav-link v1" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
            </li>
        <% } %>
    </ul>
</div>
<div class="c"></div>