<div id="m-hd">
    <a href="index1" class="m-logo"><img src="images/logo.png" alt=""></a>
    <div class="m-trigger"></div>
    <ul class="m-nav">
        <li><a href="index.html" class="v1">首页 </a></li>
        <li><a href="about.html" class="v1">关于思恩</a></li>
        <li><a href="service.html" class="v1">思恩服务</a></li>
        <li><a href="case.html" class="v1">思恩案例</a></li>
        <li><a href="news.html" class="v1">思恩动态</a></li>
        <li><a href="contact.html" class="v1">联系我们</a></li>
    </ul>
</div>
<div class="c"></div>