<div id="fd" class="index-fd pr">
    <div class="map-bg3"></div>
    <div class="wp">
        <div class="fd-top">
            <dl>
                <dt>关于思恩</dt>
                <dd>
                    <ul class="ul-fd">
                        <li><a href="">我们是谁</a></li>
                        <li><a href="">我们服务的客户</a></li>
                        <li><a href="">我们的团队</a></li>
                        <li><a href="">客户监控系统</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>思恩服务</dt>
                <dd>
                    <ul class="ul-fd">
                        <li><a href="">网站建设</a></li>
                        <li><a href="">H5响应式 交互网站</a></li>
                        <li><a href="">移动端 & 微网站定制</a></li>
                        <li><a href="">服务流程</a></li>
                        <li><a href="">行业解决方案</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>思恩案例</dt>
                <dd>
                    <ul class="ul-fd">
                        <li><a href="">移动微站</a></li>
                        <li><a href="">平台电商</a></li>
                        <li><a href="">HTML5</a></li>
                        <li><a href="">企业网站</a></li>
                        <li><a href="">集团公司</a></li>
                        <li><a href="">加工制造</a></li>
                        <li><a href="">酒店餐饮</a></li>

                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>思恩动态</dt>
                <dd>
                    <ul class="ul-fd">
                        <li><a href="">公司动态</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>联系我们</dt>
                <dd class="pr">
                    <p><a href="" class="weixin"></a><a href="" class="sina"></a><span class="weixin-pic"><img
                                src="images/ewm.jpg" alt=""></span></p>
                    <p><b class="tel">400-008-0408</b></p>
                    <h5>思恩服务热线</h5>
                </dd>
            </dl>
        </div>
    </div>
    <div class="fd-copy">
        <div class="wp">
            <p>
                <span>思恩网络技术（北京）有限公司 Copyright&copy; 2007-2015 </span><a href=""><span>京ICP备07017583号-1</span></a>
                <a href=""></a>
            </p>
        </div>
    </div>
</div>