<div id="hd">
    <div class="wp">
        <div class="logo"><a href="/"><img src="images/logo.png" alt=""></a></div>
        <div id="nav">
            <ul>
                <li><a href="index.html" style="color:#e4392a; border-bottom:3px solid #e4392a;">首页</a></li>
                <li><a href="about.html">关于思恩</a></li>
                <li><a href="service.html">思恩服务</a></li>
                <li><a href="case.html">思恩案例</a></li>
                <li><a href="update.html">思恩动态</a></li>
                <li><a href="contact.html">联系我们</a></li>
            </ul>
        </div>
        <div class="tel">400-008-0408</div>
    </div>
</div>
<div class="c"></div>
<div id="m-hd">
    <a href="/" class="m-logo"><img src="images/logo.png" alt=""></a>
    <div class="m-trigger"></div>
    <ul class="m-nav">
        <li><a href="index.html" class="v1">首页 </a></li>
        <li><a href="about.html" class="v1">关于思恩</a></li>
        <li><a href="service.html" class="v1">思恩服务</a></li>
        <li><a href="case.html" class="v1">思恩案例</a></li>
        <li><a href="news.html" class="v1">思恩动态</a></li>
        <li><a href="contact.html" class="v1">联系我们</a></li>
    </ul>
</div>
<div class="c"></div>