<div class="container">
    <div class="wp">
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="<%= config.url %>">
                <img src="/images/logo.png" />
            </a>
            <ul class="nav text-right">
                <% for(let i in theme.menu) { %>
                <li class="nav-item active">
                    <a class="nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
                </li>
                <% } %>
            </ul>
        </nav>
    </div>
</div>