<div class="side2">
    <ul>
        <li><a href=""><img src="images/r_icon1.png" alt=""></a>
            <div class="weixin"><em></em><img src="images/ewm.jpg" alt=""></div>
        </li>
        <li><a href="javascript:goTop();" class="sidetop"><img src="images/r_icon2.png"></a></li>
    </ul>
</div>