.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  object-fit: contain;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* ==============================================================
  carousel end
============================================================== */

#fd {
  padding-top: 3rem;
  background: #191938;
  font-size: 14px;
}

.fd-top dt {
  font-weight: normal;
}

.fd-copy {
  font-size: 14px;
}

.ul-fd {
  list-style-type: none;
  padding-left: 0;
}

/* ==============================================================
  footer end
============================================================== */

.container-fluid.corp {
  width: 100%;
  padding-top: 8rem;
  padding-left: 5%;
  padding-right: 5%;
}

.row-title {
  text-align: center;
  margin-bottom: 1rem;
}

.row-subtitle {
  text-align: center;
  text-transform: uppercase;
  color: #cacaca;
  margin-bottom: 4rem;
}

.row-subtitle span {
  color: orangered;
}

.kh-services,
.kh-products,
.kh-samples {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3a3a3a;
  text-align: justify;
}

.kh-services p:nth-of-type(2),
.kh-products p:nth-of-type(2),
.kh-samples p:nth-of-type(2) {
  padding: 0 20px;
  font-size: 14px;
  line-height: 28px;
  color: #6a6a6a;
  margin-bottom: 2rem;
}

.kh-services img {
  margin-bottom: 2rem;
  height: 144px;
  width: 144px;
  border-radius: 50%;
  object-fit: cover;
}

.kh-products img {
  flex: none;
  margin-bottom: 2rem;
  width: 256px;
}

.kh-samples img {
  margin: 1rem auto;
}

.kh-services p:nth-of-type(1),
.kh-products p:nth-of-type(1) {
  margin-top: 16px;
}

.divi {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  width: 40px;
  height: 2px;
  background: orangered;
}

.ban-bg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* ==============================================================
  index end
============================================================== */

.about-banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.about,
.customer {
  margin-bottom: 4rem;
}

.about.content {
  text-align: center;
  color: #6a6a6a;
  font-size: 14px;
}

.customer .item {
  margin: 2rem auto;
  height: 48px;
  object-fit: contain;
}

.contact-us {
  font-size: 14px;
  color: #6a6a6a;
}

.contact-us ul {
  list-style-type: none;
}

.contact-us ul li {
  line-height: 32px;
  margin-bottom: 1rem;
}

.contact-us a {
  color: #6a6a6a;
}

#map {
  border: 1px #bababa solid;
  box-shadow: 0 0 20px #bababa;
}

/* ==============================================================
  about end
============================================================== */


/* ==============================================================
  product end
============================================================== */

.col.solution {
  background-image: url('/images/banner-01.jpg');
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  padding: 15% 0;
}


/* ==============================================================
  solution end
============================================================== */